.contactItem {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.contactDetails {
    flex-grow: 1;
}

.contactName {
    font-weight: bold;
}

.contactNumber {
    color: #666;
}

.deleteBtn {
    background-color: #ff5f5f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: #e00000;
}