.nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px 50px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.navLink {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.navLink:hover {
    color: #0056b3;
}

.activeNavLink {
    color: #0056b3;
}

.user {
    font-size: 1rem;
    color: #089914;
    margin-right: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}